<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard :: CTF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">LEADERBOARD</div>
        <div>
            <span>{{ name }}</span> | <a href="{{ url_for('flags') }}">Challenges</a>
            {% if role == 'admin' %}
            | <a href="{{ url_for('view_responses') }}">Admin Console</a>
            | <a href="{{ url_for('reset_leaderboard') }}" class="admin-link" onclick="return confirm('Anda yakin ingin mereset semua progres?')">Reset</a>
            {% endif %}
            | <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </header>
    <div class="main-container">
        <h2>Top Operators</h2>
        <table>
            <thead>
                <tr>
                    <th>Peringkat</th>
                    <th>Nama Tim</th>
                    <th>Skor</th>
                    <th>Terakhir Aktif</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr style="color: var(--text-primary);">
                    <td style="font-size:1.2em; font-weight:700;">
                        {# --- BLOK BARU UNTUK IKON MEDALI --- #}
                        {% if loop.index == 1 %} 🥇
                        {% elif loop.index == 2 %} 🥈
                        {% elif loop.index == 3 %} 🥉
                        {% else %} #{{ loop.index }}
                        {% endif %}
                    </td>
                    <td>{{ row[0] }}</td>
                    <td style="font-weight: 700;">{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
                {% else %}
                <tr><td colspan="4" style="text-align: center; color:var(--text-secondary);">Belum ada data...</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>©PDF</footer>
</body>
</html>